body {
  background-color: #3b3b3b;
  align-content: center;
}

.game-over {
  color: white;
}

.span12{
  color: white;
}

.option-button{
  min-height:100px;
  text-align: center;
  vertical-align: bottom;
}
