body {
  background-color: #3b3b3b;
  align-content: center;
}

.h1, h1{
  font-size: 150px;
}
.game-over {
  color: white;
}

.span12{
  color: white;
}

.option-button{
  min-height:120px;
  text-align: center;

  vertical-align: middle;
  font-size: 30px;
}
